In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('language.csv')
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [4]:
### train and test split
from sklearn.model_selection import train_test_split
X = df['Text']
y = df['language']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_train shape: (17600,), y_train shape: (17600,)
X_test shape: (4400,), y_test shape: (4400,)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer